<div class="user-menu" ngbDropdown display="dynamic" class="d-inline-block" [placement]="lang == LanguagesEnum.AR ? 'bottom-start' : 'bottom-end'">
    <button type="button" class="btn d-flex align-items-center justify-start ltr:text-left rtl:text-right" id="dropdownBasic1" ngbDropdownToggle>

        <div class="start ltr:me-2 rtl:me-2">
            <div class="user-menu__img-box rounded-circle d-flex flex-center">
                <img (error)="onImgError($event)" class="img-fluid rounded-circle fit-img" [src]="ByerData?.profile" alt="User Image">
            </div>
        </div>

        <div class="end d-flex flex-column ltr:pe-2 rtl:pe-2 text-truncate">
            <small class="user-menu__name fw-bold lh-normal text-truncate">{{ ByerData ?( ByerData?.name | slice: 0: 7) : '' }}</small>
            <small class="user-menu__type text-gray fw-bold lh-normal">{{ authService?.isAuthenticated ? ('header.as-buyer' | translate) : ('header.as-guest' | translate) }} </small>
        </div>

    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border-0 shadow mt-2 dropdown--arrow p-2 w-[209px] max-w-100 main-rounded--force">

       <ng-container *ngIf="authService?.isAuthenticated else notAuthenticated">
            <ng-container *ngFor="let item of navLinks">
                <button routerLinkActive="active" [routerLink]="[item.route]" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item flex items-center text-blue border rounded-md px-[.8rem] py-[.5rem] text-[.9rem]" ngbDropdownItem>
                    <div class="icon ltr:me-2 rtl:me-2">
                        <img width="14" [src]="item.imgPath" [alt]="item.name">
                    </div>
                    <span> {{ 'header.'+item.name | translate }} </span>
                </button>
            </ng-container>

            <ng-container *ngIf="authService.isAuthenticated">
                <!-- begin:: separator -->
                <hr class="mt-3 mb-1 bg-[#0D1863] opacity-95">
                <!-- end:: separator -->

                <button (click)="openLogoutConfirmationDialog()" class="dropdown-item flex items-center text-primary justify-center rounded-md px-[.8rem] py-[.5rem] text-[.9rem]" ngbDropdownItem>
                    <div class="icon ltr:me-2 rtl:me-2">
                        <img width="15" src="assets/media/profile/icons/logout.svg" alt="Logout Icon">
                    </div>
                    <span class="fw-500"> {{ 'header.logout' | translate }} </span>
                </button>
            </ng-container>
       </ng-container>

    </div>
</div>


<ng-template #notAuthenticated>

    <div class="p-3">
        <app-button
            [label]="'auth.login' | translate"
            (click)="openAuthDialog(authComponents.Login)"
            panelclass="max-w-100 w-100 lh-normal !py-[.65rem] rounded-7px text-[.85rem]"
        ></app-button>

        <hr class="my-3 border-[#8D92B54D]">

        <small class="text-[#0D186378] block text-center mb-2">
            {{ 'auth.dont-have-an-account' | translate }}
        </small>

        <app-button
            [stroked]="true"
            [label]="'auth.register' | translate"
            (click)="openAuthDialog(authComponents.SignUp)"
            panelclass="max-w-100 w-100 lh-normal !py-[.65rem] rounded-7px text-[.85rem]"
        ></app-button>
    </div>

</ng-template>
