<mat-card class="main-rounded--force px-4 py-3 relative d-flex justify-between items-center">
    <div class="start flex items-center">
        <div class="key text-[#96A1AB] w-[150px] fw-500">{{ 'buyer-profile.location' | translate }}</div>
        <div class="val w-[200px]">
            <auk-select 
                [items]="cities"
                ngDefaultControl
                [selectedValue]="city?.id"
                [loading]="cityLoading"
                panelclass="main-rounded"
                (onChange)="onCityChange($event)"
                [placeholder]="'buyer-profile.enter-your-city' | translate"
            ></auk-select>
        </div>
    </div>
</mat-card>