<main class="cart py-4 mt-[8rem] 2xl:mt-0">
    <div class="container">


        <!-- begin:: breadcrumb -->
        <breadcrumb class="d-block mb-4"></breadcrumb>
        <!-- end:: breadcrumb -->



        <!-- begin:: process progress -->
        <process-progress class="d-block my-3"></process-progress>
        <!-- end:: process progress -->



        <!-- begin:: cart body -->
        <div class="cart-body">
            <router-outlet></router-outlet>
        </div>
        <!-- end:: cart body -->



    </div>
</main>
