<a  class="recent-viewed__card h-100" (mouseleave)="onLeaveonCard()">
    <div class="recent-viewed__card__content animate__animated animate__fadeIn h-100">

        <div class="h-100 p-0 video-thumbnail-btn position-relative main-rounded overflow-hidden bg-white">
          
             <!-- begin:: video thumbnail  -->
             <ng-container *ngIf="!showVideo">
                <img (error)="onImgError($event)" *ngIf="data?.image?.urlPreview else imgPlaceholder" class="video-thumbnail-img img-fluid fit-img w-100 h-100" [src]="data?.image?.urlPreview" alt="Ad Image">
            </ng-container>
            <!-- end:: video thumbnail  -->

            <!-- begin:: video  -->
            <vg-player *ngIf="data?.video?.urlPreview && showVideo"(onPlayerReady)="onPlayerReady($event)">
                <video width="100%" class="h-100" [vgMedia]="$any(media)" [vgMaster]="true" preload="auto" muted #media>
                    <source [src]="data?.video?.urlPreview" type="video/mp4">
                </video>
            </vg-player>
            <!-- end:: video  -->

            <!-- begin:: overlay -->
            <div 
                class="video-thumbnail-overlay position-absolute d-flex align-items-center justify-content-center">

                <div class="absolute ltr:right-0 rtl:left-0 px-[.75rem] top-[8px]">
                    <button (click)="onExpandClick(data?.id)" class="btn bg-[#bababa] p-1 w-[25px] h-[25px] flex items-center justify-center text-blue rounded-full expand-btn text-[.87rem]">
                        <fa-icon class="d-flex text-white" [icon]="faExpand"></fa-icon>
                    </button>
                </div>
                
            
                <!-- <ripple-loader *ngIf="isLoading"></ripple-loader> -->
                <wndo-loader class="block w-full h-full border !border-[#fff]" *ngIf="isLoading"></wndo-loader>
                <play-btn (click)="playVideo()" *ngIf="!showVideo"></play-btn>
                
                <!-- begin:: owner info  -->
                <button 
                    type="button"
                    class="btn d-flex py-0 align-items-center justify-content-start absolute ltr:left-0 rtl:right-0 top-[8px] text-white hover:text-white"
                    >
                    <div class="start ltr:me-2 rtl:me-2">
                        <div class="owner__img-box rounded-circle d-flex flex-center w-[23px] h-[23px]">
                            <img class="img-fluid rounded-circle fit-img w-100 h-100" [src]="data?.sellerImage ? data?.sellerImage : 'assets/media/users/user-placeholder.png' " alt="User Image">
                        </div>
                    </div>
            
                    <div class="end ltr:pe-2 rtl:pe-2 show-if-expanded">
                        <auk-rating [data]="data?.sellerRate"></auk-rating>
                    </div>
                </button>
                <!-- end:: owner info  -->

                <!-- begin:: product base info  -->
                <section class="prod-bas-info absolute bottom-[14px] text-white right-0 left-0 w-100 px-[.75rem]">
                    <a [routerLink]="['/product', data?.id]" class="show-if-expanded show-if-expanded--flex flex align-items-center mb-1 justify-content-between">
                        <span 
                            class="fw-600 mb-0 text-truncate"
                        > {{ data?.name }} </span>
                    </a> 
                    <footer class="flex justify-between items-center">
                        <div class="start flex items-center">
                            <auk-price
                                [price]="data?.price"
                                [priceAfterOffer]="data?.priceAfterOffer"
                            ></auk-price>
                        </div>
                        <div class="end show-if-expanded"
                        >
                            <add-to-fav                                 
                                [productId]="data?.id"
                                class="ltr:ms-2 rtl:ms-2"
                                [panelStyle]="{
                                    'width': '28px',
                                    'height': '28px',
                                    'font-size': '1.1rem',
                                    'border-color': '#a2a2a2'
                                }"
                                [isFavorite]="data?.isInWishList"
                            ></add-to-fav>
                        </div>
                    </footer>
                </section>
                <!-- end:: product base info  -->
            </div>
            <!-- end:: overlay -->

        </div>
    </div>
</a>


<ng-template #imgPlaceholder>
    <img-placeholder
    class="
        w-full
        h-full
        flex
        items-center
        justify-center
        bg-white
    "
    ></img-placeholder>
</ng-template>