<ng-container [ngSwitch]="star">
    <ngb-progressbar *ngSwitchCase="'star1'" class="progressBarWrapper rounded-[50px]" type="warning" [value]="20"></ngb-progressbar>
    <ngb-progressbar *ngSwitchCase="'star2'" class="progressBarWrapper rounded-[50px]" type="warning" [value]="40"></ngb-progressbar>
    <ngb-progressbar *ngSwitchCase="'star3'" class="progressBarWrapper rounded-[50px]" type="warning" [value]="60"></ngb-progressbar>
    <ngb-progressbar *ngSwitchCase="'star4'" class="progressBarWrapper rounded-[50px]" type="warning" [value]="80"></ngb-progressbar>
    <ngb-progressbar *ngSwitchCase="'star5'" class="progressBarWrapper rounded-[50px]" type="warning" [value]="100"></ngb-progressbar>
</ng-container>
