.grid-view__card {
    &__title {
        // Positiong Block 
        position: relative;
        top: 1px;
    }
}



.video-thumbnail-btn {

    // .expand-btn {
    //     // Positioning Block 
    //     position: absolute;
    //     top: 7px;
    //     left: 7px;
    // }


    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        content: '';
        width: 0;
        height: 0;
        background: rgba(255,255,255,.2);
        border-radius: var(--main-rounded);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    &:hover {

        &::before {
            // Modifire Block 
            animation: circle .9s;
        }   



        .video-thumbnail-img {
            // Modifire Block 
            transform: scale(1.1);
            transition: .9s ease-in-out;
        }

    }
    
}


.video-thumbnail {
    &-img {

        // Modifire Block 
        transition: .9s ease-in-out;
    
    }

    &-overlay {

        // Structure Block 
        inset: 0;
        width: 100%;
        height: 100%;
        
        // Structure Block 
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(221,221,221,0) 50%, rgba(0,0,0,0.8883928571428571) 100%);
        

        // Modifire Block 
        z-index: 9;


        &:hover {

            // Structure Block 
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(221,221,221,0) 50%, rgba(0,0,0,0.8883928571428571) 100%);
        }

        &--loading {
            
         

            // Modifire Block 
            animation: gradient 3s ease alternate infinite;
            opacity: 1;
            background: none !important;
        }


        .show-if-expanded {

            // Structure Block 
            display: none;


        }

        &--shrinked {
            .prod-bas-info {

                // Structure Block 
                display: flex;
                align-items: center;
                justify-content: space-between;

                // Positioning Block 
                bottom: 8px !important;

                .body {
                    margin-bottom: 0 !important;


                    ::ng-deep {
                        .auk-card-b__price {

                            // Structure Block 
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;


                            span {
                                margin: 0 !important;
                            }
                        }
                    }
                }

            }
        }


        &--expanded {
            .show-if-expanded {

                // Structure Block 
                display: inline-block;


                &--flex {

                    // Structure Block 
                    display: flex;
                }
            }
        }

    }

}