html, body { height: 100%; }
  
html {

    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) { 
      // Structure Block              
      font-size: 87%;
    }

}
  
body {

  // Typography Block 
  font-family: 'Rubik', sans-serif;

  [dir=rtl] & {
    font-family: 'El Messiri', sans-serif;
    .mat-typography,
    &.mat-typography {
      // Typography Block 
      font-family: 'El Messiri', sans-serif;
    }
  }
}


