


.auk-card-b__price {

    // Typography Block  
    font-size: 1.2rem;

    &__old {

        // Typography Block  
        font-size: .9rem;
        text-decoration-color: #000 !important;
    }
}
