<mat-drawer #drawer class="example-sidenav w-100 !z-20" mode="side">
  <div class="flex justify-between items-center p-2">
    <button
      (click)="drawer.toggle()"
      mat-raised-button
      type="button"
      class="ms-auto flex justify-end"
    >
      <i class="fa-solid fa-circle-xmark"></i>
      <fa-icon class="text-3xl text-gray-600" [icon]="faTimesCircle"></fa-icon>
      <span class="sr-only">close</span>
    </button>
  </div>

  <app-mobile-sidebar (closeDrawer)="drawer.close()"></app-mobile-sidebar>
</mat-drawer>

<div class="example-sidenav-content mt-2">
  <div class="flex justify-center flex-col gap-2">
    <div class="flex items-center justify-between py-2 px-4">
      <a routerLink="/" class="logo-box flex align-items-center w-24">
        <img class="logo w-100" src="assets/media/logos/logo.svg" alt="Logo" />
      </a>
      <!-- <button type="button" mat-button (click)="drawer.toggle()" class="menu-btn">
        <span class="menu-toggle"></span>
        <span class="sr-only">Toggle sidenav</span>
      </button> -->
      <ul
        role="list"
        class="flex items-center justify-between gap-2"
        [class.show]="isCollapsed"
      >
        <li class="text-blue-700 flex-auto">
          <button mat-icon-button type="button" (click)="toggleSearch()">
            <mat-icon class="text-2xl">search</mat-icon>
            <span class="sr-only">Open Search</span>
          </button>
        </li>
        <li *ngIf="!authService.isAuthenticated" class="text-blue-700 flex-auto">
          <button mat-icon-button type="button" (click)="openAuthDialog(authComponents.Login)">
            <mat-icon class="text-3xl">person_outline</mat-icon>
            <span class="sr-only">{{ "auth.login" | translate }}</span>
          </button>
        </li>
        <li
          class="text-blue-700 flex-auto"
        >
          <button
            mat-icon-button
            class="flex items-center justify-center"
            (click)="drawer.toggle()"
            type="button"
          >
            <mat-icon class="text-3xl"> menu </mat-icon>
          </button>
        </li>
      </ul>
    </div>
    <!-- Search Input -->
    <div *ngIf="isOpenSearchInput" @fadeInGrow class="mx-4">
    <!-- <div *ngIf="isOpenSearchInput" @compositeAnimation class="mx-4"> -->
      <search-input></search-input>
    </div>
    <ul
      role="list"
      class="flex items-center gap-3 justify-center bg-gray-100 py-2 px-4"
    >
      <!-- begin:: dynamic links  -->
      <ng-container *ngFor="let item of menus; let index = index">
        <li
          role="listitem"
          placement="bottom"
          [ngbTooltip]="'header.' + item?.title | translate"
          [class]="item?.className"
          class="bg-gray-200 w-10 h-10 flex items-center justify-center rounded-full text-blue-700 relative"

        >
          <!-- if link -->
          <ng-container *ngIf="item?.actionType == actionTypes.Link">
            <a
              class="w-100 h-full inline-flex flex-center"
              [routerLink]="item?.page"
              routerLinkActive="active-link"
            >
              <span class="svg-icon flex items-center justify-center">
                <!-- <img [src]="item?.imgPath" alt="Icon" /> -->
                <mat-icon
                  [svgIcon]="item.title"
                  class="text-xs text-blue-700/70 !w-5 !h-5 svg-icon__icon"
                ></mat-icon>
              </span>

              <ng-container *ngIf="authService.isAuthenticated">
                <!-- begin:: cart items count -->
                <small
                  *ngIf="item?.className == 'cart' && cartItemsCount > 0"
                  class="cart-items-count bg-primary text-white rounded-circle position-absolute cart-count"
                  >{{ cartItemsCount }}</small
                >
                <!-- end:: cart items count -->


                 <!-- begin:: cart items count -->
                 <small
                 *ngIf="
                   item?.className == 'notification' &&
                   notificationsCount > 0
                 "
                 class="notification-dot bg-primary text-white rounded-circle position-absolute cart-count"
               ></small>
               <!-- end:: cart items count -->

              </ng-container>
            </a>
          </ng-container>
        </li>
      </ng-container>
      <!-- end:: dynamic links  -->
    </ul>
  </div>
</div>
