:host-context(html[dir=rtl]) {

    :host {
        ::ng-deep {
            .swiper {
                &__controllers {
        
                    fa-icon {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }


    .grid-card-wrapper {
 
        &:nth-of-type(10),
        &:nth-of-type(5) {
            &:hover {
                grid-view-card {
    
                    // Positioning Block
                    left: 0;
                    right: calc(-100% - 1rem);
                }
            }
        }

    }
}