<div class="grid-view__content w-100 flex items-center">
  <!-- <ng-template  > -->
    <mat-card
      class="main-rounded--force w-100 mb-3 mt-2 p-3 pb-3"
      [ngClass]="{ 'pb-4': slidesCount > 1 }"
    >
      <section class="swiper-wrap pb-1" #swiperWrapper >
        <swiper
          (swiper)="onSwiper($event)"
          [config]="swiperConfig"
          #swiper
          class="swiper swiper--hols flex flex-col"


        >
          <ng-container *ngFor="let item of [].constructor(slidesCount)">
            <ng-template swiperSlide>
              <div
                class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-5 gap-3 2xl:min-h-[526px]"
              >
                <ng-container
                  *ngFor="let item of filterdItems; let index = index"
                >
                  <div
                    [class.grid-card-wrapper--bottom]="index > 4"
                    class="grid-card-wrapper relative h-[255px] landscape:h-[180px] landscape:lg:h-[255px]"
                  >
                    <grid-view-card
                      [lang]="lang"
                      [data]="item"
                      (productLikeChange)="onProductLikeChange($event)"
                      (productWishChange)="onProductWishChange($event)"
                      class="d-block h-100 min-w-full"
                    ></grid-view-card>
                  </div>
                </ng-container>
              </div>
            </ng-template>
          </ng-container>
        </swiper>

        <div *ngIf="slidesCount > 1" class="swiper__controllers inline-flex">
          <button
            type="button"
            (click)="slidePrev()"
            mat-raised-button
            color="bg-gray-300"
            class="lh-normal min-w-auto p-1 w-[32px] h-[28px] main-rounded--force ltr:me-2 rtl:me-2"
          >
            <fa-icon
              class="d-flex fa-lg justify-center items-center text-blue"
              [icon]="faLongArrowAltLeft"
            ></fa-icon>
            <span class="sr-only">slide Prev </span>
          </button>
          <button
            type="button"
            (click)="slideNext()"
            mat-raised-button
            color="bg-gray-300"
            class="lh-normal min-w-auto p-1 w-[32px] h-[28px] main-rounded--force"
          >
            <fa-icon
              class="d-flex fa-lg justify-center items-center text-blue"
              [icon]="faLongArrowAltRight"
            ></fa-icon>
            <span class="sr-only">slide Next </span>
          </button>
        </div>
      </section>
    </mat-card>
  <!-- </ng-template> -->
</div>
