<section class="form-wrapper text-[#97979d] position-relative">
   
    <!-- begin:: closer  -->
    <div class="dialog__closer w-[fit-content] position-absolute z-[2] flex justify-end mb-4 right-0 top-0 translate-y-[-150%] translate-x-[200%]">
        <button mat-dialog-close color="bg-gray-700" class="bg-gray-700 text-white shadow-xl !w-[32px] !h-[32px] d-flex items-center justify-center lh-normal" mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <!-- end:: closer  -->
   
    <div *ngIf="!showOTP" class="main-rounded gradient-border bg-white">
        <form [formGroup]="form" class="z-[1] p-4" (ngSubmit)="submit()">
       
            <div class="text-center">
                <h2 mat-dialog-title class="text-blue fw-600">{{ 'checkout.edit-phone-number' | translate }}</h2>
            </div>

            <div mat-dialog-content class="mx-0 my-5">
                

                <div class="row">

                    <div class="col-12 mb-4">
                        <intl-tel-input
                            type="number"
                            ngDefaultControl
                            [isMatrial]="true"
                            formControlName="phone"
                            [showValidations]="formError"
                            [countriesCodes]="countriesCode"
                            (onChange)="onPhoneChange($event)"
                            [control]="form | getControl: 'phone'"
                            [label]="'checkout.phone-number' | translate"
                            [panelclass]="'py-[.7rem] rounded-0 border-0 !border-solid !border-b !border-[#E5E6E8] px-0'"
                            [placeholder]="'checkout.you-didn-tadd-your-phone-number' | translate"
                        ></intl-tel-input>
                    </div>

                </div>
            

            </div>
      
            <mat-dialog-actions align="center">
                <app-button
                    [label]="'checkout.save' | translate"
                    [panelclass]="'w-100 py-1 rounded-pill !px-[7rem]'"
                ></app-button>
            </mat-dialog-actions>
      
        </form>
    </div>


    <!-- begin:: otp-validator  -->
    <ng-container *ngIf="showOTP">
        <otp-validator
            [sentTo]="phone"
            (onChange)="onOTPChange($event)"
            (onResend)="sendVerifPhoneCode(form?.value)"
       ></otp-validator>
    </ng-container>
    <!-- end:: otp-validator  -->


</section> 