<ng-container *ngIf="!isMine">
    <ng-container *ngIf="!isFollowed || !authService.isAuthenticated">
        <button

            (click)="followingHandler(); $event.stopPropagation()"

            [ngClass]="['follow-btn', 'lh-normal', 'py-1', 'w-100', 'rounded-7px', 'd-flex', 'flex-center', 'main-transition', 'px-4', panelclass]"

            mat-raised-button color="primary"
        >
            <small *ngIf="isLabel" class="py-1 d-inline-block">
                {{ 'actions.follow' | translate}}
            </small>
            <ng-content select="[follow-content]"></ng-content>
        </button>
    </ng-container>



    <ng-container *ngIf="authService.isAuthenticated && isFollowed">
        <button
            (click)="followingHandler(); $event.stopPropagation()"
            [ngClass]="['follow-btn', 'lh-normal', 'border-primary', 'py-1', 'w-100', 'rounded-7px', 'd-flex', 'flex-center', 'main-transition', 'px-4', panelclass]"

            mat-stroked-button color="primary"
        >
            <small *ngIf="isLabel" class="py-1 d-inline-block">
                {{ 'actions.unfollow' | translate}}
            </small>
            <ng-content select="[unfollow-content]"></ng-content>
        </button>
    </ng-container>
</ng-container>
