<section class="cd-cards mb-3">

    <div class="filter flex justify-end mb-4">
        <auk-select
            bindLabel="name"
            bindValue=""
            [items]="monthWithYearListArr"
            [wndoStyle]="true"
            [clearable]="true"
            panelclass="rounded w-[250px]"
            (onChange)="onDateChange($event)"
            [placeholder]="'wallet.date' | translate"
        ></auk-select>
    </div>

    <div *ngIf="currentMonthTransArr?.length else noData" class="grid gap-3">
        <ng-container *ngFor="let item of currentMonthTransArr">
            <credit-card [data]="item"></credit-card>
        </ng-container>
    </div>

</section>


<!-- begin no data templete  -->
<ng-template #noData>
    <no-data
        size="xl"
        class="block py-2"
        [message]="'shared.no-results-found' | translate"
   ></no-data>
</ng-template>
<!-- end no data templete  -->
