<section class="check-out animate__animated animate__fadeIn">
  <header class="mb-3 text-[.9rem]">
    <strong>
      {{ "checkout.your-cart" | translate }} ({{ cart?.carts?.length }})</strong
    >
  </header>

  <div class="xl:grid grid-cols-12">
    <div class="xl:col-span-9 mb-4">
      <ng-container *ngIf="cart?.carts?.length; else isEmpty">
        <div class="col-box xl:ltr:mr-[8rem] xl:rtl:ml-[8rem]">
          <ng-container *ngFor="let item of cart?.carts">
            <!-- begin:: cart items -->
            <cart-item [item]="item" class="mb-3 block"></cart-item>
            <!-- end:: cart items -->
          </ng-container>

          <!-- begin:: cart actions -->
          <div
            *ngIf="!isMobile"
            class="cart-actions flex items-center justify-center pt-[1.5rem] flex-col xl:flex-row gap-y-3"
          >
            <app-button
              routerLink="/explore"
              [stroked]="true"
              [label]="'checkout.continue-shopping' | translate"
              panelclass="max-w-100  w-[250px] flex-auto mx-3 !rounded-full lh-normal !py-[.65rem]"
            ></app-button>
            <!--  -->

            <app-button
              routerLink="../shipping-payment"
              [label]="'checkout.check-out' | translate"
              panelclass="max-w-100 w-[250px] flex-auto mx-3 !rounded-full lh-normal !py-[.65rem] uppercase"
            ></app-button>
          </div>
          <!-- end:: cart actions -->
        </div>
      </ng-container>
    </div>

    <div class="xl:col-span-3">
      <!-- begin:: order summary -->
      <order-summary [cart]="cart"></order-summary>
      <!-- end:: order summary -->
    </div>

    <!-- begin:: cart actions -->
    <div
      *ngIf="isMobile"
      class="cart-actions flex items-center justify-center pt-[1.5rem] flex-col xl:flex-row gap-y-3"
    >
      <app-button
        routerLink="/explore"
        [stroked]="true"
        [label]="'checkout.continue-shopping' | translate"
        panelclass="max-w-100  w-[250px] flex-auto mx-3 !rounded-full lh-normal !py-[.65rem]"
      ></app-button>
      <!--  -->

      <app-button
        routerLink="../shipping-payment"
        [label]="'checkout.check-out' | translate"
        panelclass="max-w-100 w-[250px] flex-auto mx-3 !rounded-full lh-normal !py-[.65rem] uppercase"
      ></app-button>
    </div>
    <!-- end:: cart actions -->
  </div>
</section>

<!-- if the cart is empaty  -->
<ng-template #isEmpty>
  <is-empty class="xl:mr-[8rem] block"></is-empty>
</ng-template>
