<section class="form-wrapper text-[#97979d]">
    <div class="main-rounded gradient-border bg-white">
        <form [formGroup]="form" class="position-relative z-[1] p-2 2xl:p-4" (ngSubmit)="submit()">

            <!-- begin:: closer  -->
            <div class="dialog__closer w-[fit-content] position-absolute z-[2] flex justify-end mb-4 right-5 2xl:right-0 top-0 translate-y-[-150%] 2xl:translate-x-[200%]">
                <button mat-dialog-close color="bg-gray-700" class="bg-gray-700 text-white shadow-xl !w-[32px] !h-[32px] d-flex items-center justify-center lh-normal" mat-mini-fab aria-label="Example icon button with a home icon">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <!-- end:: closer  -->

            <div class="text-center">
                <h2 mat-dialog-title class="text-blue fw-600">{{ 'checkout.edit-profile-name' | translate }}</h2>
            </div>

            <div mat-dialog-content class="mx-0 my-5 !p-2.5 2xl:!p-6">


                <div class="row">

                    <div class="col-12 mb-4">
                        <field
                            type="text"
                            ngDefaultControl
                            formControlName="name"
                            [showValidations]="formError"
                            [control]="form | getControl: 'name'"
                            [label]="'checkout.profile-name' | translate"
                            [placeholder]="'checkout.you-didn-t-add-your-name' | translate"
                            [panelclass]="'border-0 px-0 !border-b !border-solid rounded-0 !border-[#E5E6E8]'"
                        ></field>
                    </div>

                </div>


            </div>

            <mat-dialog-actions align="center">
                <app-button
                    [label]="'checkout.save' | translate"
                    [panelclass]="'w-100 py-1 rounded-pill !px-[7rem]'"
                ></app-button>
            </mat-dialog-actions>

        </form>
    </div>
</section>
