<main class="seller-profile mt-[8rem] 2xl:mt-0">
  <div class="m-2">
    <div class="flex w-100 md:gap-y-4 2xl:gap-x-4 flex-col 2xl:flex-row">
      <breadcrumb *ngIf="isMobile" class="d-block my-4"></breadcrumb>
      <div class="2xl:w-[314px]">
        <seller-aside
          [data]="sellerProfile"
          class="block sticky top-[70px]"
        ></seller-aside>
      </div>
      <div class="flex flex-col flex-grow">
        <!-- begin:: breadcrumb -->
        <breadcrumb *ngIf="!isMobile" class="d-block my-4"></breadcrumb>
        <!-- end:: breadcrumb -->

        <!-- begin:: stats -->
        <seller-stats [data]="sellerProfile" class="mb-4 block"></seller-stats>
        <!-- end:: stats -->

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
