<main class="seller-profile">
    <div class="m-2">
        <div class="row w-100">
            <div class="w-[314px]">
                <seller-aside [data]="sellerProfile" class="block sticky top-[70px]"></seller-aside>
            </div>
            <div class="col-lg flex flex-col">

                <!-- begin:: breadcrumb -->
                <breadcrumb class="d-block my-4"></breadcrumb>
                <!-- end:: breadcrumb -->


                <!-- begin:: stats -->
                <seller-stats [data]="sellerProfile" class="mb-4 block"></seller-stats>
                <!-- end:: stats -->


                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>