<section class="order-confirmed text-white text-center">
    <div class="order-confirmed__content main-rounded gradient-border">
        <div class="position-relative z-[1] p-4">
       
            <!-- begin:: closer  -->
            <div class="dialog__closer absolute top-[13px] right-[13px]">
                <button color="bg-gray-700" class="bg-gray-700 text-white shadow-xl w-[35px] h-[35px] d-flex items-center justify-center lh-normal" mat-dialog-close mat-mini-fab aria-label="Example icon button with a home icon">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <!-- end:: closer  -->

       
            <!-- begin:: header  -->
            <div class="order-confirmed__header text-center mb-2 py-2">
                <div class="logo-wrapper w-[230px] h-[230px] flex items-center justify-center rounded-full mx-auto">
                    <img src="assets/media/logos/happy.png" alt="Confirmed Logo">
                </div>
            </div>
            <!-- end:: header  -->



            <div mat-dialog-content class="mx-0">
                

                <h2 mat-dialog-title class="d-flex items-center justify-center h1 fw-bold ps-1">
                    <span class="ps-2 gothic-font">{{ 'checkout.order-confirmed' | translate }}</span>
                    <img src="assets/media/svg/check-mark.svg" alt="Check mark icon">
                </h2>

                <div class="order-no text-[#D9D9E0] fw-bold text-[.99rem]">
                    <span>{{ 'checkout.your-order-no' | translate }}{{data?.orderNumber}} <br> {{ 'checkout.has-been-placed' | translate }}</span>
                </div>
            

            </div>
      
      
      
        </div>
    </div>
    
    
    <div mat-dialog-actions>
        <div class="order-confirmed-footer d-flex justify-center w-100 pt-2">
            <app-button
                (click)="trackOrder()"
                [label]="'checkout.track-the-order' | translate"
                panelclass="max-w-100 w-[250px] mx-3 !rounded-full lh-normal !py-[.65rem] fw-bold"
            ></app-button>
        </div>
    </div> 
</section> 