<mat-card class="main-rounded--force px-4 py-3 relative d-flex justify-between items-center">
    
    <div class="start flex items-center">
        <div class="key text-[#96A1AB] w-[150px] fw-500">{{ 'buyer-profile.password' | translate }}</div>
        <div class="val fw-600 text-[#011447] pt-1">**************</div>
    </div>
    
    <div class="end">
        <mat-card-actions class="d-flex justify-between m-0 p-0">
            <button (click)="openChangePasswordDialog(1)" class="bg-white w-[35px] h-[35px]" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <img width="20" class="img-fluid m-auto" src="assets/media/svg/pen-i.svg" alt="Edit Address">
            </button>
        </mat-card-actions>  
    </div>
</mat-card>