:host {
    // Structure Block 
    display: block;
    // flex-direction: column;
    min-height: 100vh;
    // height: 100%;

    overflow-x: clip;
}



.example-container {
    // Structure Block 
    height: calc(100vh);

    // Large devices (desktops, 992px and up)
    @media (min-width: 1200px) { 
        // Structure Block 
        // height: calc(100vh - 113px);
    }

}



.example-sidenav-content {
    // Structure Block 
    height: 100%;
    min-height: 100vh;
}
  
.example-sidenav {
    // Structure Block 
    // padding: 20px;
    border-right: 1px solid #27282b;

}
  

:host {
    ::ng-deep {

        .mat-drawer {
            // Structure Block 
            display: block !important;

            position: fixed;
        }


        .mat-drawer-content {
      

            // Modifire Block 
            overflow: visible;

            // Medium devices (tablets, 768px and up)
            @media (min-width: 1200px) { 
                // Structure Block 
                margin-left: 85px;

                transition: all .3s ease-in-out !important;

            }

        }

        .mat-drawer-over,
        .mat-drawer-side {

            // Medium devices (tablets, 768px and up)
            @media (min-width: 1200px) { 
                    // Modifire Block
                // transform: translate3d(calc(-100% + 73px), 0, 0);
                transform: none !important;
                transition: width .3s ease-in-out;
                // min
                width: 240px;


                &.mat-drawer-opened {
                    // Positioning Block 
                    left: 0;

                    & ~ .mat-drawer-content {
                        margin-left: 240px !important;
                    }
                }

                &:not(.mat-drawer-opened) {
                    // Structure Block 
                    width: 85px;
                }
            }

            // Modifire Block
            visibility: visible !important;

            // Structure Block 
            display: block !important;
            // min-width: 250px;
           
            
        }
    }
}