<mat-drawer-container
  [class.drawer-opened]="isOpening"
  class="example-container h-100 overflow-visible !bg-gray-50"
  [class.desktop-drawer-container]="!isMobile"
  autosize
>
  <!-- [mode]=" isBpMax1200px ? 'over': 'side'" -->
  <mat-drawer
    [position]="lang == LanguagesEnum.AR ? 'end' : 'start'"
    [opened]="
      !routerService.hasRoute('buyer-profile') &&
      !routerService.hasRoute('seller')
    "
    #drawer
    class="example-sidenav border shadow-sm"
    [mode]="'side'"
    (closedStart)="closedStart()"
    (openedStart)="openedStart()"
    (openedChange)="openedChange($event)"
    *ngIf="!isMobile"
  >
    <sidebar
      (toggleDrawer)="drawer.toggle()"
      [draweState]="draweState"
      [openedStart]="isOpening"
    ></sidebar>
  </mat-drawer>

  <div class="example-sidenav-content d-flex flex-column h-100">
    <div *ngIf="isMobile; else desktopView">
      <app-mobile-header></app-mobile-header>
    </div>

    <ng-template #desktopView>
      <!-- begin:: header  -->
      <app-header
        [openedStart]="isOpening"
        [draweState]="draweState"
      ></app-header>
      <!-- end:: header  -->
    </ng-template>

    <!-- begin:: body  -->
    <!-- <ng-container *ngIf="!isBpMax1200px"> -->
    <router-outlet></router-outlet>
    <!-- </ng-container> -->
    <!-- end:: body  -->

    <!-- *ngIf="!isBpMax1200px" -->
    <!-- begin:: footer  -->
    <app-footer
      class="d-block mt-auto shadow-sm__top d-block border-top ms-1 border-start z-10 sticky bottom-0"
    ></app-footer>
    <!-- end:: footer  -->
  </div>

  <!-- begin:: help components  -->
  <help></help>
  <!-- end:: help components  -->
</mat-drawer-container>
