// @import "~@videogular/ngx-videogular/fonts/videogular.css";




.shorts {
  &__slider {
    // Structure Block
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
  }

  @media screen and (width <= theme('screens.lg')) {
    margin-top: calc(100% - 264px);

  }
}
