// @import "~@videogular/ngx-videogular/fonts/videogular.css";




.shorts {
  &__slider {
    // Structure Block
    min-height: calc(100vh + 300px);
    display: flex;
    align-items: center;
  }

  // @media screen and (width < theme('screens.2xl')) {
  //   margin-top: 8rem;
  // }
}
