<section class="shorts xl:mb-3 xl:pt-3 h-full">
  <div [class.main-container]="!isMobile" class="flex flex-col mx-auto h-full">
    <div
      *ngIf="!isMobile"
      class="section__actions d-flex items-center pb-1"
      ngClass="{{ isMobile ? 'justify-center' : 'justify-between' }}"
    >
      <!-- begin:: categories  -->
      <sections class="animate__animated animate__fadeIn"></sections>
      <!-- end:: categories  -->

      <!-- begin:: view toggler  -->
      <div class="d-flex items-center" *ngIf="!isMobile">
        <small
          class="me-2 text-gray fw-500"
          [class.!text-primary]="currentView == ExploreView.Grid"
        >
          {{ "explore.view-offers" | translate }}
        </small>
        <auk-slide-toggle
          class="ms-1"
          panelClass="!p-0 !py-0 border-0"
          labelPanelClass="hidden"
          (onChange)="onViewModeChanege($event)"
        ></auk-slide-toggle>
      </div>
      <!-- end:: view toggler  -->
    </div>

    <div class="shorts__slider d-flex-grow-1 animate__animated animate__fadeIn">
      <ng-container [ngSwitch]="currentView">
        <!-- begin:: shorts slider -->
        <shorts-slider
          *ngSwitchCase="ExploreView.Shorts"
          class="d-block h-full w-100 animate__animated animate__fadeIn"
          [class.h-auto]="isMobile"
        ></shorts-slider>
        <!-- end:: shorts slider -->

        <!-- begin:: grid view slider -->
        <grid-view-slider
          *ngSwitchCase="ExploreView.Grid"
          class="d-flex items-center w-100 h-full pt-2"
        ></grid-view-slider>
        <!-- end:: grid view slider -->
      </ng-container>
    </div>
  </div>
</section>
