::ng-deep {
    .transparent-dialog {
        .confirm__content {

            .mat-dialog-content {

                // Modifire Block
                overflow: visible;

            }
        }


        .cdk-overlay-dark-backdrop {
            // Structure Block
            background: rgba(0, 0, 0, 0.91);
        }

        .mat-dialog-container {
          @apply landscape:pt-0 landscape:pb-0 pt-20 pb-4 landscape:lg:pt-20 landscape:lg:pb-4;            // Structure Block
            background: transparent !important;

            // Positioning Block
            position: relative;

            // Modifire Block
            overflow: visible;

        }

        .mat-dialog-actions {
            // Structure Block
            margin-bottom: 0;
        }
    }
}
