.aside {
  &__section {
    // Structure Block
    padding: 0.1rem 0.5rem;

    .svg-icon {
      @apply bg-gray-900;
      // Structure Block
      width: 25px;
      height: 20px;
      max-width: 100%;
      display: inline-block;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: auto 100%;

      // Modifire Block
      transition: all 0.3s ease-in-out;
    }
  }

  &__nav {
    &:not(.aside__nav--2) {
      .nav__item {
        // Structure Block
        border-radius: 0;
        border-right: 5px solid transparent;

        // Modifire Block
        transition: all 0.1s ease-in-out;

        &.active {
          // Structure Block
          border-right: 5px solid var(--bs-primary);
        }

        .svg-icon {
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 20px;
          background-color: #200e32; // or any color of your choice.

          // Modifire Block
          transition: all 0.3s ease-in-out;
          opacity: 40%;
        }

        &.active {
          ::ng-deep {
            .mat-button-focus-overlay {
              background-color: rgba(0, 0, 0, 0.04) !important;
              opacity: 1 !important;
            }
          }
        }

        &:hover:not(.active) {
          // Structure Block
          border-right-color: rgba(0, 0, 0, 0.04) !important;

          // Modifire Block
          transition: all 0.1s ease-in-out;
        }

        &.active,
        &:hover {
          .svg-icon {
            // Structure Block
            background-color: var(--bs-primary); // or any color of your choice.
            opacity: 100%;
          }
        }
      }
    }

    ::ng-deep {
      .mat-expansion-panel-body {
        padding: 0 1.5reem 0;
      }
    }

    .nav__item {
      .svg-icon {
        // Structure Block
        width: 25px;
        height: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &__active-img {
          // Structure Block
          display: none;
        }
      }

      &.active,
      &:hover:not(.mat-expansion-panel-header) {
        .svg-icon {
          img {
            // Structure Block
            display: none;
          }

          .svg-icon__active-img {
            // Structure Block
            display: inline;
          }
        }

        .nav-txt {
          // Modifire Block
          transition: none;

          // Typography Block
          color: var(--bs-primary);
        }
      }
    }

    &__sub {
      // Structure Block
      // padding: 0 1.5rem;
      padding: 0 0 0;
      margin-top: 1rem;

      .nav__item {
        padding: 1rem 0;

        &.active {
          @apply bg-transparent text-primary;
        }

        .svg-icon {
          // Structure Block
          width: 20px;
          height: 20px;
        }
      }

      li {
        &:not(:last-of-type) {
          // Structure Block
          border-bottom: 1px solid #d9d9e0;
        }
      }
    }
  }
}
