<section class="auth__login">
  <div class="auth__content main-rounded gradient-border">
    <div class="position-relative z-[1] md:p-4 bg-[#353434e3]">
      <!-- begin:: closer  -->
      <div class="dialog__closer absolute top-[13px] right-[13px]">
        <button
          color="bg-gray-700"
          class="bg-gray-700 text-white shadow-xl w-[35px] h-[35px] d-flex items-center justify-center lh-normal"
          mat-dialog-close
          mat-mini-fab
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <!-- end:: closer  -->

      <!-- begin:: header  -->
      <div class="auth__header text-center mb-4 py-2">
        <h1 class="text-primary mb-2 text-lg" mat-dialog-title>
          {{ "auth.hello" | translate }}
        </h1>
        <span class="text-[1rem] gothic-font">{{
          "auth.welcome-back-login-to-continue" | translate
        }}</span>
      </div>
      <!-- end:: header  -->

      <div mat-dialog-content class="mx-0 px-2 ">
        <!-- begin:: login by  -->
        <div class="login-by text-center">
          <span class="fw-bold block mb-2 font-light">
            {{ "auth.login-by" | translate }}
          </span>

          <div class="d-flex justify-center pt-2">
            <radio-btn
              class="mx-2"
              id="phone"
              name="login-by"
              [label]="'auth.phone' | translate"
              value="phone"
              [checked]="true"
              (onChange)="onLoginTypeChange($event)"
            ></radio-btn>
            <radio-btn
              class="mx-2"
              id="email"
              name="login-by"
              [label]="'auth.email' | translate"
              value="email"
              [checked]="false"
              (onChange)="onLoginTypeChange($event)"
            ></radio-btn>
          </div>
        </div>
        <!-- end:: login by  -->

        <!-- begin:: login form  -->
        <form [formGroup]="form" class="auth__form mt-4" (ngSubmit)="submit()">
          <ng-container *ngIf="selectedLoginType == 'email'">
            <div class="mb-4">
              <field
                type="email"
                ngDefaultControl
                formControlName="email"
                [placeholder]="'auth.email' | translate"
                [panelclass]="'py-[.7rem] main-rounded'"
              ></field>
            </div>
          </ng-container>

          <ng-container *ngIf="selectedLoginType == 'phone'">
            <div class="mb-4">
              <intl-tel-input
                type="text"
                onlyNumber
                ngDefaultControl
                formControlName="phone"
                [countriesCodes]="countriesCodes"
                (onChange)="onPhoneChange($event)"
                [placeholder]="'auth.phone-number' | translate"
                [panelclass]="'py-[.7rem] main-rounded'"
              ></intl-tel-input>
            </div>
          </ng-container>

          <div class="mb-4">
            <field
              type="password"
              ngDefaultControl
              formControlName="password"
              [placeholder]="'auth.password' | translate"
              [panelclass]="
                'py-[.7rem] main-rounded ltr:md:pr-[3rem] rtl:md:pl-[3rem]'
              "
            ></field>
          </div>

          <div class="mb-3">
            <button
              (click)="chengeCurrentAuth.emit(authComponents.ForgetPassword)"
              class="btn p-0 lh-normal text-[#FFA800] fw-500 relative top-[-1px] underline hover:text-[#FFA800]"
            >
              <small class="font-extralight">
                {{ "auth.forgot-password" | translate }}
              </small>
            </button>
          </div>

          <div
            *ngIf="formError || form.errors"
            class="invalid-feedback mb-2 text-primary d-block text-center"
          >
            <span
              *ngIf="
                                (form | getControl: 'email')?.errors?.['required'] ||
                                (form | getControl: 'password')?.errors?.['required'] ||
                                (form | getControl: 'phone')?.errors?.['required']
                            "
            >
              {{
                "auth.please-enter-your__and-password"
                  | translate : selectedLoginType
              }}
            </span>

            <span
              *ngIf="
                (form | getControl : 'email')?.errors &&
                (form | getControl : 'email').value
              "
            >
              {{ "auth.please-enter-valid-email" | translate }}
            </span>
          </div>

          <div class="form__actions pt-2">
            <app-button
              [label]="'auth.login' | translate"
              [panelclass]="'w-100 py-1 rounded-pill'"
            ></app-button>
          </div>
        </form>
        <!-- end:: login form  -->

        <!-- begin:: social login  -->
        <div class="or text-center my-4 d-flex items-center justify-center">
          <span class="or__text text-[#C5F2FF] text-[.8rem]">
            {{ "auth.or-continue-with" | translate }}
          </span>
        </div>

        <div class="d-flex justify-center items-center py-2">
          <social-login class="d-flex h-[inherit]"></social-login>
        </div>
        <!-- end:: social login  -->
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <div class="auth-footer d-flex justify-center items-center w-100 pt-4">
      <span class="me-1 text-[.9rem] lh-normal">
        {{ "auth.dont-have-an-account" | translate }}
      </span>
      <button
        (click)="chengeCurrentAuth.emit(authComponents.SignUp)"
        class="btn p-0 lh-normal text-primary fw-500 relative text-[.9rem]"
      >
        {{ "auth.register-now" | translate }}
      </button>
    </div>
  </div>
</section>
