<section class="product-features text-[#97979d] w-100">
    <div class="product-features__content main-rounded gradient-border bg-white h-100">
        <div class="position-relative z-[1] py-5 px-4 flex flex-col h-100 justify-between">

            <!-- begin:: closer  -->
            <div class="dialog__closer w-[fit-content] position-absolute z-[2] flex justify-end mb-4 right-5 xl:right-0 top-0 translate-y-[-150%] xl:translate-x-[200%]">
                <button mat-dialog-close color="bg-gray-700" class="bg-gray-700 text-white shadow-xl !w-[32px] !h-[32px] d-flex items-center justify-center lh-normal" mat-mini-fab aria-label="Example icon button with a home icon">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <!-- end:: closer  -->

            <div class="text-center">
                <h2 mat-dialog-title class="text-blue fw-600"> Reasons of Refund </h2>
            </div>

            <div mat-dialog-content class="mx-0 my-5">

                <ng-container *ngFor="let item of refundRasons; let first = first; let i = index">
                    <radio-btn
                        class="me-5"
                        panelClass="!flex !justify-between !flex-row-reverse"
                        [id]="item?.id"
                        [checked]="item?.id == refundReasonsEnum.Other"
                        name="pickUpTime"
                        (onChange)="onReasonChange(item)"
                        [label]="item?.label"
                        [value]="item?.id"
                    ></radio-btn>
                </ng-container>

            </div>

            <mat-dialog-actions align="center" class="flex flex-col items-center">
                <app-button
                    (click)="submit()"
                    [label]="'SUBMIT'"
                    [panelclass]="'w-100 py-1 rounded-pill !px-[7rem]'"
                ></app-button>
            </mat-dialog-actions>
        </div>
    </div>
</section>