input[type="radio"]:checked {
    & ~ .label-content {
        img {

            // Structure Block 
            display: none;

            &.active {
                // Structure Block 
                display: block;
            }
        }
    }
}


label {
    &:not(:last-of-type) {
        // Structure Block 
        margin-bottom: .5rem;
    }
}