<mat-card
    class="!flex p-2 justify-between items-center main-rounded--force"
>
    <a *ngIf="data?.isSeller" (click)="closeDialog()" [routerLink]="['/seller', data?.userId]"  class="start cursor-pointer flex-grow flex justify-start text-truncate">
        <ng-container [ngTemplateOutlet]="cardInfo"></ng-container>
    </a>

    <div *ngIf="!data?.isSeller" class="start flex-grow flex justify-start text-truncate">
        <ng-container [ngTemplateOutlet]="cardInfo"></ng-container>
    </div>

    <div class="end mb-auto">
        <!-- begin:: order actions  -->
        <dropdown
            (onClick)="onActionClick($event)"
            class="mb-1 block"
            [asSelect]="false"
            [items]="actions"
        ></dropdown>
        <!-- end:: order actions  -->
    </div>
</mat-card>



<ng-template #cardInfo>
    <div mat-card-avatar class="example-header-image rounded-circle overflow-hidden ltr:me-2 rtl:me-2 !w-[47px] !h-[47px]">
        <img 
            (error)="onImgError($event)"
            class="img-fluid fit-img w-100 h-100 rounded-full" [src]="data?.photo ? data?.photo : imgPlaceholder" alt="Seller Image">
    </div>

    <div class="d-flex ltr:pr-[3rem] rtl:pl-[3rem] flex-grow-1 flex-column justify-content-between ltr:ps-1 rtl:ps-1 text-truncate text-[.8rem] py-1 fw-500">
        <div class="top flex justify-between text-truncate">
            <mat-card-title class="mb-0 text-truncate text-[.8rem] ltr:me-2 rtl:me-2 text-blue">{{ data?.name }}</mat-card-title>
            <follow
                panelclass="lh-normal py-0 !px-[.8rem] text-[.75rem] uppercase !min-w-[82px]"
                [userId]="data?.userId"
                [isFollowed]="data?.isFollowing"
            ></follow>
        </div>
        <mat-card-subtitle class="mb-0 d-flex text-truncate align-items-center text-[.8rem] pt-1">
            {{ data?.bio }}
        </mat-card-subtitle>
    </div>
</ng-template>