<section class="product-seller d-flex justify-content-between align-items-center">
    <div class="start">
        <a [routerLink]="['/seller', data?.id]" class="d-flex">
            <div mat-card-avatar class="example-header-image rounded-circle overflow-hidden ltr:me-2 rtl:me-2">
                <img 
                    (error)="onImgError($event)"
                    class="img-fluid fit-img w-100 h-100" [src]="data?.imagePath ? data?.imagePath : imgPlaceholder" alt="Seller Image">
            </div>
            <div class="d-flex flex-column justify-content-center ltr:ps-1 rtl:ps-1">
                <mat-card-title class="mb-2 h4 !text-[#333333] fw-500">{{ data?.name }}</mat-card-title>
                <mat-card-subtitle class="mb-0 d-flex align-items-center">
                    <fa-icon class="d-flex ltr:me-1 rtl:me-1 fa-sm" [icon]="faUser"></fa-icon>
                    <span class="fw-500 lh-normal">{{ followersCount | shortNumbers }}</span>
                </mat-card-subtitle>
            </div>
        </a>
    </div>
    <div class="end">
        <follow [isFollowed]="isFollowed" [userId]="data?.id"></follow>
    </div>
</section>