input[type="radio"] {




    &:checked {
        & ~ label {
         
            // Structure Block 
            background-color: var(--product-color);
            // border-color: var(--product-color);
            border-color: #dee2e6;
    
        }
    }



    &:not(:checked) {
        & ~ label {

            // Typography Block 
            color: #000 !important;
        }
    }

}
