<section class="auth__login">
    <div class="auth__content main-rounded gradient-border">
        <div class="position-relative z-[1] p-2 xl:p-4 bg-[#353434e3]">

            <!-- begin:: closer  -->
            <div class="dialog__closer absolute top-[13px] right-[13px]">
                <button color="bg-gray-700" class="bg-gray-700 text-white shadow-xl w-[35px] h-[35px] d-flex items-center justify-center lh-normal" mat-dialog-close mat-mini-fab aria-label="Example icon button with a home icon">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <!-- end:: closer  -->


            <!-- begin:: header  -->
            <div class="auth__header text-center mb-4 py-2">
                <h1 class="text-primary mb-2 text-lg" mat-dialog-title>
                    {{ 'auth.reset-password' | translate }}
                </h1>
                <span class="text-lg font-extralight">{{ 'auth.please-enter-your-new-password' | translate }}</span>
            </div>
            <!-- end:: header  -->



            <div mat-dialog-content class="mx-0">


                <!-- begin:: login form  -->
                <form  [formGroup]="form" class="auth__form mt-4" (ngSubmit)="submit()">

                    <div class="mb-4">
                        <field
                            type="password"
                            ngDefaultControl
                            formControlName="password"
                            [showValidations]="formError"
                            [control]="form | getControl: 'password'"
                            [placeholder]="'auth.password' | translate"
                            [panelclass]="'py-[.7rem] main-rounded ltr:pr-[3rem] rtl:pl-[3rem]'"
                        ></field>
                    </div>

                    <div class="mb-4">
                        <field
                            type="password"
                            ngDefaultControl
                            [showValidations]="formError"
                            formControlName="confirmPassword"
                            [control]="form | getControl: 'confirmPassword'"
                            [placeholder]="'auth.confirm-password' | translate"
                            [panelclass]="'py-[.7rem] main-rounded ltr:pr-[3rem] rtl:pl-[3rem]'"
                        ></field>
                    </div>


                    <div class="form__actions py-2">
                        <app-button
                            [label]="'auth.reset' | translate"
                            [panelclass]="'w-100 py-1 rounded-pill'"
                        ></app-button>
                    </div>

                </form>
                <!-- end:: login form  -->


            </div>



        </div>
    </div>


    <div mat-dialog-actions>
        <div class="auth-footer d-flex justify-center items-center w-100 pt-4">
            <span class="me-1 text-[.9rem] lh-normal">
                {{ 'auth.dont-have-an-account' | translate }}
            </span>
            <button
                (click)="chengeCurrentAuth.emit(authComponents.SignUp)"
                class="btn p-0 lh-normal text-primary fw-500 relative text-[.9rem]"
                >
                {{ 'auth.register-now' | translate }}
            </button>
        </div>
    </div>
</section>
