<mat-card class="main-rounded--force px-2 2xl:px-4 pt-4 pb-5">
  <mat-card-title
    class="!flex items-center border-b w-[fit-content] pb-[.6rem] pe-1"
  >
    <span class="icon ltr:me-3 rtl:me-3">
      <img class="h-[22px]" src="assets/media/svg/trash.svg" alt="Trash Icon" />
    </span>
    <span class="text-[#96A1AB] fw-500 text-[14px] lh-normal">{{
      "buyer-profile.delete-account" | translate
    }}</span>
  </mat-card-title>

  <div class="2xl:container mt-3">
    <div class="2xl:grid 2xl:grid-cols-2 2xl:px-3 gap-4">
      <div>
        <div class="col-box">
          <ul class="list-unstyled pt-2">
            <li class="flex items-center mb-3">
              <span class="icon w-[25px] ltr:me-3 rtl:me-3">
                <img
                  class="h-[20px]"
                  src="assets/media/svg/lamp.svg"
                  alt="Lamp"
                />
              </span>
              <span>
                {{
                  "buyer-profile.what-happens-when-you-delete-your-account"
                    | translate
                }}
              </span>
            </li>
            <li class="flex items-baseline gap-3 mb-3">
              <span
                class="icon w-[25px] h-[25px] text-[.6rem] ltr:text-right rtl:text-left text-blue"
              >
                ⬤
              </span>
              <span class="flex-grow">
                {{
                  "buyer-profile.profile-and-posts-wont-shown--wndo-anymore"
                    | translate
                }}
              </span>
            </li>
            <li class="flex items-center">
              <span
                class="icon w-[25px] ltr:me-3 rtl:me-3 text-[.6rem] ltr:text-right rtl:text-left text-blue"
              >
                ⬤
              </span>
              <span>
                {{ "buyer-profile.won-tbe able-re-active-profile" | translate }}
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="2xl:flex 2xl:justify-end">
        <div class="col-box flex 2xl:items-end flex-col mt-3 2xl:mt-0">
          <auk-select
            [static]="true"
            class="mb-4 block"
            [items]="deleteAccountReasons"
            labelPanelclass="text-[#4E4E78]"
            (onChange)="selectedReason = $event"
            panelclass="main-rounded w-100 lg:!w-[400px]"
            [label]="'buyer-profile.choose-reason' | translate"
            [placeholder]="'buyer-profile.choose-reason' | translate"
          ></auk-select>
          <button
            type="button"
            (click)="deleteAccount()"
            [disabled]="!selectedReason"
            [class.border-primary]="selectedReason"
            [class.text-primary]="selectedReason"
            class="max-w-100 !w-full 2xl:w-[250px] !rounded-full lh-normal !py-[.7rem] uppercase"
            mat-stroked-button
          >
            {{ "buyer-profile.delete-account" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
