.products {
  &__item {
    height: 100%;
    scroll-snap-align: start;
    margin-bottom: 5rem;
  }
}

:host{
  ::ng-deep{
    vg-player.video-item {
      position: relative;
      &::after {
        content: "";
        background-image: linear-gradient(
          to right bottom,
          rgba(#000, 0),
          rgba(#000, 0.6)
        );
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
      }
    }
  }
}
