<nav class="bottom-nav sticky-bottom">
    <ul class="list-unstyled text-end animate__animated animate__fadeIn d-flex justify-content-evenly mb-0">
        <li>
            <a routerLink="" mat-mini-fab color="primary">
                <i class="fas fa-home"></i>
            </a>
        </li>

        <li>
            <a routerLink="" mat-mini-fab color="base">
                <i class="fas fa-bell"></i>
            </a>
        </li>

        <li>
            <a routerLink="" mat-mini-fab color="base">
                <i class="fas fa-heart"></i>
            </a>
        </li>

        <li>
            <a routerLink="" mat-mini-fab color="base">
                <i class="fas fa-video"></i>
            </a>
        </li>

        <li>
            <a routerLink="" mat-mini-fab color="base">
                <span class="cart-items-count">0</span>
                <i class="fas fa-cart-arrow-down"></i>
            </a>
        </li>


        <li>
            <a routerLink="" mat-mini-fab color="base">
                <i class="fas fa-music"></i>
            </a>
        </li>
    </ul>
</nav>