:host {
    ::ng-deep {

        .replies {
            reply {

                &:not(:last-of-type) {

                    // Positioning Block 
                    position: relative;

                    &::after {

                        // Structure Block 
                        content: "";
                        display: block;
                        margin-bottom: .8rem;
                        border-bottom: 1px solid #E6E6E6;

                    }

                
                
                }

            }
        }


    }
}