<section class="order-confirmed text-white text-center">
    <div class="order-confirmed__content main-rounded gradient-border">
        <div class="position-relative z-[1] p-4">
       
            <!-- begin:: closer  -->
            <div class="dialog__closer absolute top-[13px] right-[13px]">
                <button color="bg-gray-700" class="bg-gray-700 text-white shadow-xl w-[35px] h-[35px] d-flex items-center justify-center lh-normal" mat-dialog-close mat-mini-fab aria-label="Example icon button with a home icon">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <!-- end:: closer  -->

       
            <!-- begin:: header  -->
            <div class="order-confirmed__header text-center py-2">
                <div class="logo-wrapper w-[200px] h-[230px] flex items-center justify-center rounded-full mx-auto">
                    <img src="assets/media/logos/do2.png" alt="Confirmed Logo">
                </div>
            </div>
            <!-- end:: header  -->



            <div mat-dialog-content class="mx-0">
                

                <h2 mat-dialog-title class="d-flex items-center justify-center h1 fw-bold ps-1">
                    <span class="gothic-font">
                        {{ 'checkout.not-enough-balance' | translate }}
                    </span>
                </h2>

                <div class="order-no text-[#C9C6C6] text-[.99rem]">
                    <p>{{ 'checkout.not-enough-balance-p' | translate }}</p>
                    <p>{{ 'checkout.not-enough-balance-p2' | translate }}</p>
                </div>
            

            </div>
      
      
      
        </div>
    </div>
    
    
    <div mat-dialog-actions>
        <div class="flex-col d-flex justify-center w-100 pt-2">
            <app-button
                (click)="yes()"
                [label]="'actions.yes' | translate"
                panelclass="max-w-100 w-[250px] mx-3 !rounded-full lh-normal !py-[.65rem] fw-bold mb-3"
            ></app-button>
            <app-button
                mat-dialog-close
                [stroked]="true"
                [label]="'actions.no' | translate"
                panelclass="max-w-100 w-[250px] mx-3 bg-white !rounded-full lh-normal !py-[.65rem] fw-bold"
            ></app-button>
        </div>
    </div> 
</section> 