
<div class="container"><div class="button is-play">
    <div class="button-outer-circle has-scale-animation"></div>
    <div class="button-outer-circle has-scale-animation has-delay-short"></div>
    <div class="button-icon is-play">
      <svg height="100%" width="100%" fill="#FF002A">
        <polygon class="triangle" points="5,0 30,15 5,30" viewBox="0 0 30 15"></polygon>
        <path class="path" d="M5,0 L30,15 L5,30z" fill="none" stroke="#FF002A" stroke-width="1"></path>
      </svg>
</div></div></div>