<section class="order animate__animated animate__fadeIn mt-3">
  <header class="mb-3 text-[1rem] text-[#011447]">
    <strong
      >{{ "my-orders.summary-order" | translate }}
      {{ order?.orderNumber }}</strong
    >
  </header>

  <div class="xl:grid xl:grid-cols-12">
    <div class="xl:col-span-9 mb-4">
      <div class="col-box xl:ltr:mr-[8rem] xl:rtl:ml-[8rem]">
        <!-- begin:: order status  -->
        <div
          class="order-status flex items-center justify-between text-[#9599B3] mb-4 fw-500 pb-2 text-[.84rem]"
        >
          <div class="start">
            <span class="key ltr:me-3 rtl:me-3"
              >{{ "my-orders.overall-status" | translate }}
            </span>
            <span class="val">{{ order?.createdAt | date }}</span>
          </div>
          <div class="end">
            <span class="key ltr:me-3 rtl:me-3">{{
              "my-orders.placed-on" | translate
            }}</span>
            <span
              class="val"
              [ngClass]="{
                'text-[#4EA3F8]':
                  order?.orderState == orderStatsObject.ordered.key,
                'text-[#FA0029]':
                  order?.orderState == orderStatsObject.cancelled.key,
                'text-[#fca908]':
                  order?.orderState == orderStatsObject.shipping.key,
                'text-[#F4D014]':
                  order?.orderState == orderStatsObject.returned.key,
                'text-[#02A207]':
                  order?.orderState == orderStatsObject.delivered.key
              }"
            >
              {{
                order?.orderState == orderStatsObject.cancelled.key
                  ? (orderStatsObject.cancelled.label | translate)
                  : null
              }}
              {{
                order?.orderState == orderStatsObject.shipping.key
                  ? (orderStatsObject.shipping.label | translate)
                  : null
              }}
              {{
                order?.orderState == orderStatsObject.returned.key
                  ? (orderStatsObject.returned.label | translate)
                  : null
              }}
              {{
                order?.orderState == orderStatsObject.delivered.key
                  ? (orderStatsObject.delivered.label | translate)
                  : null
              }}
              {{
                order?.orderState == orderStatsObject.ordered.key
                  ? (orderStatsObject.ordered.label | translate)
                  : null
              }}
            </span>
          </div>
        </div>
        <!-- end:: order status  -->

        <ng-container *ngFor="let item of order?.orderItems">
          <!-- begin:: cart items -->
          <order-item [item]="item" class="mb-3 block"></order-item>
          <!-- end:: cart items -->
        </ng-container>

        <!-- begin:: shipping address and payment summary -->
        <mat-card class="p-4 relative">
          <mat-card-content class="mb-0">
            <!-- Shipping Address -->
            <div class="row">
              <div class="col-lg-6 ltr:border-r rtl:border-l">
                <div class="col-box">
                  <h4 class="fw-500 text-[.9rem] mb-2">
                    {{ "my-orders.shipping-address" | translate }}
                  </h4>
                  <span class="fw-400 text-[#424E78] text-[.85rem] lh-normal">{{
                    order?.address?.name
                  }}</span>
                </div>
              </div>

              <!-- Payment -->
              <div class="col-lg-6">
                <div class="col-box ltr:ps-3 rtl:ps-3">
                  <h4 class="fw-500 text-[.9rem] mb-2">
                    {{ "my-orders.payment" | translate }}
                  </h4>

                  <ng-container *ngFor="let item of paymentMethods">
                    <ng-container *ngIf="item?.id == order?.paymentMethod">
                      <div class="flex items-center text-[#4E4E78]">
                        <img
                          [width]="
                            item?.id == paymentMethodsEnum.Cash ? 14 : 16
                          "
                          class="img-fluid ltr:me-2 rtl:me-2"
                          [src]="item?.activeIconPath"
                          alt="Cash Icon"
                        />
                        <span class="fw-400 text-[.82rem] lh-normal">
                          {{ item.label | translate }}
                        </span>
                      </div>
                    </ng-container>

                    <ng-container
                      *ngIf="
                        order?.isMultiplePayment &&
                        item?.id == paymentMethodsEnum.Wallet
                      "
                    >
                      <div class="flex items-center text-[#4E4E78] mt-4">
                        <img
                          width="16"
                          class="img-fluid ltr:me-2 rtl:me-2"
                          [src]="item?.activeIconPath"
                          alt="Cash Icon"
                        />
                        <span class="fw-400 text-[.82rem] lh-normal">
                          {{ item.label | translate }}
                        </span>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- end:: shipping address and payment summary -->

        <!-- begin:: order actions -->
        <div class="order-actions  items-center justify-center pt-[2rem] hidden xl:flex">
          <app-button
            [stroked]="true"
            [label]="'actions.cancel-all' | translate"
            (click)="cancelAll(order?.orderNumber)"
            panelclass="max-w-100 w-[250px] mx-3 !rounded-full lh-normal !py-[.65rem] uppercase"
            *ngIf="
              order?.orderItems?.length > 1 &&
              order?.orderState == orderStatsObject.ordered.key
            "
          ></app-button>

          <app-button
            (click)="refundAll(order?.orderNumber)"
            [stroked]="true"
            [label]="'actions.refund-all' | translate"
            panelclass="max-w-100 w-[250px] mx-3 !rounded-full lh-normal !py-[.65rem] uppercase"
            *ngIf="
              order?.orderItems?.length > 1 &&
              order?.orderState == orderStatsObject.delivered.key
            "
          ></app-button>

          <app-button
            [label]="'actions.track-the-order' | translate"
            *ngIf="order?.orderState != orderStatsObject.delivered.key"
            [routerLink]="[
              '/buyer-profile/orders/track-order',
              order?.orderNumber
            ]"
            panelclass="max-w-100 w-[250px] mx-3 !rounded-full lh-normal !py-[.65rem] uppercase"
          ></app-button>
        </div>
        <!-- end:: order actions -->
      </div>
    </div>

    <div class="xl:col-span-3">
      <!-- begin:: order summary -->
      <app-order-summary [order]="order"></app-order-summary>

       <!-- begin::mobile order actions -->
       <div class="order-actions flex-col gap-4 items-center justify-center pt-[2rem] flex xl:hidden">
        <app-button
          [stroked]="true"
          [label]="'actions.cancel-all' | translate"
          (click)="cancelAll(order?.orderNumber)"
          panelclass="max-w-100 w-[250px] mx-3 !rounded-full lh-normal !py-[.65rem] uppercase"
          *ngIf="
            order?.orderItems?.length > 1 &&
            order?.orderState == orderStatsObject.ordered.key
          "
        ></app-button>

        <app-button
          (click)="refundAll(order?.orderNumber)"
          [stroked]="true"
          [label]="'actions.refund-all' | translate"
          panelclass="max-w-100 w-[250px] mx-3 !rounded-full lh-normal !py-[.65rem] uppercase"
          *ngIf="
            order?.orderItems?.length > 1 &&
            order?.orderState == orderStatsObject.delivered.key
          "
        ></app-button>

        <app-button
          [label]="'actions.track-the-order' | translate"
          *ngIf="order?.orderState != orderStatsObject.delivered.key"
          [routerLink]="[
            '/buyer-profile/orders/track-order',
            order?.orderNumber
          ]"
          panelclass="max-w-100 w-[250px] mx-3 !rounded-full lh-normal !py-[.65rem] uppercase"
        ></app-button>
      </div>
      <!-- end:: Mobile order actions -->
      <!-- end:: order summary -->
    </div>
  </div>
</section>
