:host {
  // Structure Block
  flex-grow: 1;
}

.wish-list {
  .start {
    // Structure Block
    max-width: calc(100% - 215px);

    @media screen and (width < theme("screens.xl")) {
      max-width: 100%;
    }
  }
}
